/*luke-j.css style sheet for luke-j website last edited 2024-June-30 by Luke Johnson*/
*{
    background-color: darkolivegreen;
}
h1{
    text-align: center;
}
#luke-img {
    width:600px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
body{
    margin:0px;
}
.navigation-bar {
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: beige;
}
.navigation-item{
    margin:10px;
}
.navigation-button {
    background:#888;
    border:none;
    outline:none;
    font-size:1.5em;
    color:antiquewhite;
}
.navigation-button:hover{
    background: #333;
}