/*luke-j.css style sheet for luke-j website last edited 2024-June-30 by Luke Johnson*/
*{
    background-color: rgb(59, 73, 34);
}
h1{
    text-align: center;
    color:#898d56;
}
h2{
    color:#82895f
}
p, ul{
    color:#b0b0b0;
    font-size:1.1em;
}
a{
    color:rgb(74, 189, 189);
}
#luke-img {
    width:600px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.navigation-bar {
    margin:-8px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: beige;
}
.navigation-item{
    margin:10px;
    background-color: beige;
}
.navigation-button {
    background:#888;
    border:none;
    outline:none;
    font-size:1.5em;
    color:antiquewhite;
    width:200px;
}
.navigation-button:hover{
    background: #333;
}

/*resume css*/
.resume-contact{
    margin-left:20px;    
}
/* notable projects stylesheet */
#projects-container{
    /* margin-top:10px; */
    /* background-color: black; */
    display:grid;
    /* max-width: 800px; */
    grid-template-columns:auto auto;
    grid-template-rows:auto auto auto auto auto auto;
    margin-top:10px;
    margin-left:0px auto;
    margin-right:0px auto;
    justify-content:center;
}
#project-title-item{
    grid-row:1;
    grid-column: 1 / 3;
}
#project-image-item{
    grid-row:2;
    grid-column: 1 / 3;
    height:300px;
}
.project-related-link-item{
    grid-row:3;
    grid-column: auto;
    text-align:center;
}
#project-description-item{
    grid-row:4;
    grid-column: 1 / 3;
    min-height:100px;
    max-width:600px;
}
#project-update-item{
    grid-row:5;
    grid-column:1 / 3;
    text-align:right;
    max-width:600px;
}
.project-navigation-button-item{
    grid-row:6;
    text-align: center;
    min-height: 30px;
}

#project-image{
    display:block;
    /* max-width:100%;
    min-height:100%; */
    /* width:100%; */
    height:100%;
    margin:auto;
}
#project-title{
    text-align:center;
}
.project-navigation-button{
    background-color: rgb(115, 84, 43);
    height:100%;
    width:200px;
}
.project-navigation-button:hover{
    background: rgb(80, 59, 30);;
}
.make-hidden{
    visibility:hidden;
}
/* contact form stylesheet */
#contact, #contact label{
    background-color: beige;
    font-size:1.2em;
}
#contact input, #contact textarea{
    background-color: #888;
    font-size:1.2em;
    border:thin;
}
#contact textarea{
    width: 800px;
    height:350px;
}
/* footer */
footer{
    color:#343434;
    background-color:#8b8d86;
}
/* mobile responsiveness */
@media screen and (max-width:900px) {
/* navigation bar responsive design */
    .navigation-bar{
        flex-direction:column;
    }

/* intro page repsonsivene design */
    #luke-img{
        width:400px;
    }
    /* projects page responsive design */
    /* #projects-container{
        width:300px;
    } */
    #project-image-item{
        height:200px;
    }
    .project-navigation-button{
        width:100px;
    }
    /* contact page responsive design */
    #contact textarea{
        width: 400px;
    }
}